@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="error-page">
    <div class="lead text-danger">
        <h1>Error</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                @if (Model.Error != null)
                {
                    <strong>
                        <em>
                            @Model.Error
                        </em>
                    </strong>

                    if (Model.ErrorDescription != null)
                    {
                        <div>@Model.ErrorDescription</div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
